*{
    padding: 0;
    margin: 0;
    /*background-color: rgb(186, 251, 253);*/
}
.container{
    position: inherit;
    text-align: center;
    margin-top:23px;
    background-color: rgb(186, 251, 253);
}
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 5px solid #244624;
    font-size:34px;
    height: 60px;
    width: 456px;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background: #978fa0;
    width: 102px;
    height: 80px;
    margin: 6px;
}

.calculator{ 
    border: 4px solid #13695d;
    background-color: #d8afd6;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    
}

h1{
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}
.foot{
    background-color: black;
    width: 100vw;
    height: 30px;
    color: blanchedalmond;
    text-align: center;
    margin-top: 5.5vh;
    font-size: 20px;
    
    
}
p{
    margin-bottom: 50px;
    block-size: auto;

}
body{
    display: contents;
    margin: 0px;
}
    
